body {
	height: 100%;
	margin: auto;
	font-family: "Lato",sans-serif;
}

#contentBand {
    margin-top: -15px;
	width: 100%;
	text-align: center;	
	color: white;
	z-index: -5;
}


#title {
	margin: 0px 200px 0 150px;
	padding-top: 10px;
	letter-spacing: -0.035em;
	font-style: normal;
	font-weight: 700;
}

#title h1 {
	margin: 60px 5px 15px 5px;
	font-size: 30px;
	color: white;
}

#option-band {
	display: inline-flex;
}

#option-band div {
	color: #5E5E5E;
	background-color: white;
	border-left: 1px solid #aaa;	
	width: 280px;
	height: 280px;
	float: left;
	position: relative;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* #option-band div:hover {
	-webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.46);
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.46);
} */

#option-band:last-child {
	border-right: 1px solid #aaa;	
}


#option-wrapper {	
	margin-top: 40px;
	width: 100%;
	background-color: white;
}


#option-band div h2 {
	padding: 10px;
	font-size: 130%;
}

#option-band div p {
	position: absolute;
	width: 80%;
	margin: auto;
	left: 0;
	right: 0;
	top:40%;
}

#option-band div ul{
	text-align: left;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#contentBand i {
	font-size: 150%;
}

.treeButton {
	border-radius: 3px;
	position: absolute;
	bottom: 10px;
	padding: 5px 25px 5px 25px;
	border-color: #72ba26;
	margin-bottom: 0.25em;
	text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
	cursor: pointer; cursor: hand;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin:0 38%;
}

.btn-3d-dark {

font-weight: 700;
color: #ffffff;
cursor: pointer;
background-color: #72ba26;
box-shadow: none!important;
border: none!important;
}

.btn-3d-dark:hover {
  background-color: #5b941e;
}

.btn-3d-light {

font-weight: 700;
color: #ffffff;
cursor: pointer;
background-color: #141516;
box-shadow: none!important;
border: none!important;
}

.btn-3d-light:hover {
  background-color: #72ba26;
}



.treeButton:hover {
	color: #ccc;
}

.backButton {
	position: initial;
	margin-top: 20px;
}