#mainContent {
	z-index: 1	;
	width: 800px;
	height: 800px;
	
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	right: 0;
	left: 0;
	
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background: white;
	
}

#contactForm {
	padding: 10px 30px 0 30px;;
	text-align: center;
}

.small {
	height: 8px;
} 
 
.big {
	z-index: -1;
	position: absolute;
	height: 200px;
	top: 0;
	left: 0;
} 

.primary {
	background-color: #4CAF50;
}
.primaryDark {
	background-color: #388E3C;
}

#colorBar {
	width:100%;
}