#content  {
	width: 80%;
	margin: 0 auto;
	margin-top: 100px;
}

#content label {
	color: #666 !important;
	padding: 20px 0px 20px 0px;
	text-shadow: 2px 2px #ddd;
	cursor: pointer; cursor: hand;
	border-bottom: 2px solid #ccc;
	width: 100px;
	background-color: #f0f0f0;
}

#content label span
{
	font-weight: bold;
	color: #666 !important;
	display: block;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	text-shadow: none;
}


#content .last
{
	border-bottom: 0px;
}

#content input[type=radio] {display: none;}
#content input[type=radio]:checked + .outer > label {color:#76B729!important; text-shadow: 2px 2px #666; }
#content input[type=radio]:checked + .outer > label span {color:#76B729!important; }
#content input[type=radio]:checked + .outer > .box {display: inherit;}

.box	{
	width: 60%;
	position: absolute;
	top: 10px;
	margin-left: 120px;
	display: none;
	padding-top: 100px;
	z-index: 10;
}

#hightailI	{
	width: 300px;
}

@media screen and (max-width: 900px) {
#content label {
	padding: 10px 0 10px 0;
	width: 60px
}
#content .last
{
	border-bottom: 4px solid #aaa;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
}

#content .first
{
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
}
#content
{
	margin-top: 10px;
	padding-top: 0px;
	margin-left: 10px;
	margin-bottom: 300px;
}
.box {
	margin-top: 10px;
	padding-top:0px;
	width: 80%;
	line-height: 90%;
	margin-left: 70px;
	margin-right: 70px;
}
}