body {
	margin: 0;
	display: flex;
}
	
html * {
	font-family: 'Roboto', sans-serif;
}

html, 
body {
    height: 100%;
}

#side {
	float:left;
	flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
	height: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#lower {
	padding: 20px;
}

#side-toggled {
	width: 20px;
}

#main {
	float: left;
	margin: 0;
	width: 100%;
	flex-grow: 1;
    background-size: 30px 30px;
    background-image: linear-gradient(to right, #ccc 1px, transparent 1px), linear-gradient(to bottom, #ccc 1px, transparent 1px);
}

#main * {
	-moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.option {
	width: 148px;
	float: left;
	border: 1px solid #666;
}

.lines {
	width: 100%;
	height: 100%;
}

.option .mid_bar {
	min-height: 20px;
	color: black;
	background-color: #F2F2F2;
	font-size: 80%;
	position: relative;
}

.option .top_bar {
	font-size: 90%;
	color: black;
	background-color: white;
}

#option_area {
	display: none;
	padding: 10px;
	border-top: 5px solid #2196F3; 
	border-bottom: 5px solid #2196F3; 
}

#question_area {
	display: none;
	border-top: 5px solid #2196F3; 
	border-bottom: 5px solid #2196F3; 
	padding: 10px;
}

#connection_area {
	display: none;
	border-top: 5px solid #2196F3; 
	border-bottom: 5px solid #2196F3; 
	padding: 10px;
}

#opt {
	position: absolute;
}

#options_btn li {
	text-align: center;
	list-style-type: none;
	border: 1px solid grey;	
	color: black;
	height: 26px;
	border-radius: 2px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
}

#options_btn li:hover {
	background-color: #EAEAEA;
	cursor: pointer; cursor: hand;
}

svg line {
	pointer-events:all;
}

svg line:hover {
	stroke: #0000ff;
}

#opt .top_bar {
	text-align: center;
	position: relative;
}

#opt .top_bar .fa {
	position: absolute;
	right: 2px;
	top: 2px;
}

.fa:hover {
	color: #2196F3;
}

.question {
	position: absolute;
	width: 200px;
}

.connect {
	position: absolute;
	width: 10px;
	height: 10px!important;
	border-radius: 50%;
	left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: auto; 
	bottom:-10px;
}


.question_w {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



.question:hover {
	cursor: pointer; cursor: hand;
}

.top_bar {
	text-align: right;
	padding: 1px 5px 1px 5px;
    color: #BBDEFB;
    background-color: #1976D2;	
}

.mid_bar {
	text-align: center;
	background-color: #2196F3; 
    padding: 5px;
    color: #FFFFFF;
	
}

.mid_side_bar {
	position: relative;
	text-align: left;
	background-color: #2196F3; 
    color: #FFFFFF;
	height: 130px;
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.mid_side_bar h3 {
	position: absolute;
    bottom: 5px;
    left: 5px;
	margin: 0px;
}

#bot_bar {
	text-align: center;
	background-color: #424242;
	color: #aaa;	
	font-size: 20px;
}

.side_content {
	padding: 10px;
}

.hidden {
	display: none;
}

.red {
	background-color: #e50000!important;
}

.red:hover {
	background-color: #d40000!important;
}

.greyed {
	background-color: lightgrey!important;
}

.greyed:hover {
	background-color: lightgrey!important;
}

.mat_button {
	background-color: #2196F3; 
	color: white;
	border: none;
	height: 36px;
	border-radius: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

.mat_button:hover {
	background-color: #1976D2;
	cursor: pointer; cursor: hand;
}