#deBoot * {
	font-family: 'Roboto Slab', serif;
	font-weight: lighter;
}

#deBoot b {
	font-weight: normal!important;
}

#deBoot .fa {
	font-family: FontAwesome;
}


.small {
	background-color: #E2F3EB;
	height: 8px;
} 
 
.big {
	background-color: #337AB7;
	z-index: -1;
	position: absolute;
	height: 200px;
	top: 0;
	left: 0;
} 

#colorBar {
	width:100%;
}


#deBoot #mainContent {
	z-index: 1	;
	width: 800px;
	height: 900px;
	
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	right: 0;
	left: 0;
	
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background: white;
}

#deBoot .height100 {
	height: 100px;
}

#deBoot {
    background-color: #E2F3EB;
}

#deBoot #mainContent #content {
	padding: 10px 30px 0 30px;;
	text-align: left;
	
	width: 80%;
	margin: auto;
}

#tree .question .hidden {
	display: none;
}

#tree .question {
	display: initial;
}