body {
	margin:0;
	height:100%;
	background-color: #FAFAFA;
	text-align: center;
}


body * {
	font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}

#content {
	margin: 0 auto;
	background-color: white;
	min-width: 40%;
	max-width: 80%;
	overflow: hidden;

	position: relative;

	z-index: 1	;
	
	min-height: 900px;

	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	right: 0;
	left: 0;
}

.box-shadow {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#color-band {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.big {
	background-color: #337AB7;
		height: 200px;
}

.small {
	background-color: #0096A6;
	height: 8px;
}

#out_text, #css_text {
	display: none;
}


.h1, h1 {
    font-size: 36px; 
}

.h3, h3 {
    font-size: 24px;
}	

textarea {
	padding: 4px;
}

#linkBox {
	display: none;
	top: 20px;
	left: 20px;
	position: absolute;
	width: 500px;
	background-color: white;
	text-align: left;
}

#linkBox textarea {
	width: 90%;
}

#linkBox #c {
	padding: 20px;
}