* {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
}

body {
  background: rgb(62,127,152);
  background: linear-gradient(rgba(195,245,255,1)0%, rgba(62,127,152,1)  100%);
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/hero.jpg");

  /* Set a specific height */
  height: 500px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  text-align: center;
}

.hero {
  padding: 200px
}

.hero-text {
  color: white;
}

h1 {
  font-size: 500%;
}

:root {
  --blue: #5fc0d3;
  --blueAlt: #37b0c8;

  --yellow: #f8f887;
  --yellowAlt: #f7f76e;

  --red: #993366;
  --redAlt: #862d59;

  --pink: #ff99cc;
  --pinkAlt: #ff1a8c;
}

.section {
  /*height: 600px;*/
  position: relative;
}

.section-header {
  height: 100px;
  width: 80%;
  margin: auto;
}

.section-body {
  height: 500px;
  width: 70%;
  margin: auto;
}


.section-art {
  position: absolute;
  height: 100px;
  width: 400px;
  left:0;
  right:0;
  bottom: 100px;
  margin-left:auto;
  margin-right:auto;
}

.section.blue .section-header { background-color: var(--blueAlt);}
.section.blue .section-body   { background-color: var(--blue)   ;}
.section.blue .section-art    { background-color: var(--blueAlt);}

.section.yellow .section-header { background-color: var(--yellowAlt);}
.section.yellow .section-body   { background-color: var(--yellow)   ;}
.section.yellow .section-art    { background-color: var(--yellowAlt);}

.section.red .section-header { background-color: var(--redAlt);}
.section.red .section-body   { background-color: var(--red)   ;}
.section.red .section-art    { background-color: var(--redAlt);}

.section.pink .section-header { background-color: var(--pinkAlt);}
.section.pink .section-body   { background-color: var(--pink)   ;}
.section.pink .section-art    { background-color: var(--pinkAlt);}


.footer {
  height: 100px;
  background-color: #404040;
}
